@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.accordion-section {
  @include flex-column;
  gap: $space-m;
  padding-top: $space-m;
  border-top: $border-default;

  &__header {
    @include flex-align-center;
    gap: $space-m;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
  }

  &__steps {
    @include flex-column;
    gap: $space-l;
  }
}
